.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1px solid #afb1bd;
  border-radius: 50%;
  text-align: center;
}
.step-icon[data-order="true"] {
  background-color: #333333;
}
.text {
  color: #afb1bd;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}
.step-label {
  font-weight: 400;
  font-size: 16px;
  color: #afb1bd;
}
.step-label[data-order="true"] {
  color: #2a2a2a;
}
.step-bar {
  display: inline-block;
  width: 60px;
  border-top: 2px solid #afb1bd;
}
.step-bar[data-order="true"] {
  border-top-color: #2a2a2a;
}
