header.site-header {
  position: sticky;
  z-index: 100;
  top: 0px;
  background-color: inherit;
  text-align: center;
  height: 60px;
}

nav.navbar-menu {
  width: 85%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
  margin: 0 auto;
}
.site-menu-list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 16px;
}
.site-action-list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 15px;
}
.nav-item {
  cursor: pointer;
  color: #2a2a2a;
}
.nav-icon {
  width: 24px;
  height: 24px;
}
.nav-link {
  font-weight: 500;
  line-height: 24px;
  color: #2a2a2a;
  text-decoration: none;
}
.header-logo-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 60px;
}
.logo-title {
  line-height: 60px;
  color: #2a2a2a;
}

