button {
  all: unset;
}
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.button-group.first {
  justify-content: flex-end;
}
.next {
  width: 174px;
  height: 46px;
  background: #f67599;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.arrow-line {
  display: inline-block;
  border-top: 1px solid white;
  transform: translate(35%, 0);
  width: 20px;
}
.prev {
  width: 174px;
  height: 46px;
  color: block;
  display: flex;
  align-items: center;
}
.arrow-line.prev-arrow {
  border-color: black;
  transform: translate(-35%, 0);
}
