html {
  --gary: #888;
  --white: #fff;
  --logo: url('../assets/Logo-light.svg');
  --text: #2A2A2A;
  --border: #afb1bd;
  --label: #808080;
  --inputBorder: #4A4A4A;
  --period: #000;
  --radiosBoxBorder: #f0f0f5;
  --checkedRadiosBoxBorder: #2a2a2a;
  --radioBackground: #fff;
  --checkedRadioBackground: #2A2A2A;
}

html [data-theme="dark"] {
  --white: #121212;
  --logo: url('../assets/Logo.svg');
  --text: #fff;
  --border: #fff;
  --label: #5e5e5e;
  --inputBorder: #5e5e5e;
  --period: #5e5e5e;
  --radiosBoxBorder: #5e5e5e;
  --checkedRadiosBoxBorder: #fff;
  --radioBackground: #333333;
  --checkedRadioBackground: #333333;
}