@use 'reset';


$gary: #888;
%h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.App {
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-size: 16px;
  user-select: none;
}

.container {
  margin: 0px 15px;
}
.main-container {
  display: flex;
  margin: 80px auto 0 auto;
  width: 85%;
}
h2.register-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #2a2a2a;
  margin-bottom: 48px;
}
.align-start {
  text-align: start;
}
.cart-container {
  margin-top: 80px;
  margin-left: 80px;
}
.mimic-btn {
  position:relative;
  display:flex;
  justify-content: space-between;
  margin: 5px;
}
.mimic-nex {
  position:absolute;
  right: 0;
  background-color: palevioletred;
  padding: 3px;
  border: 2px solid palevioletred;
  border-radius: 5px;
}
.cart {
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  padding: 24px;
}
.cart-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 34px;
}
// TODO 整理

header.header {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  background-color: #fff;
  height: 60px;
  nav.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    padding: 0 10%;
    .nav-list {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 16px;
      .nav-item {
        cursor: pointer;
      };
    };
  };
  .header-logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    height: 60px;
    width: 200px;
    .header-logo-icon {
      background: url('../assets/Logo.svg');
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
    };
    .header-logo-title {
      background: url('../assets/ALPHA\ Shop.svg');
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
    };
  };
};

.footer {
  background: #e5e5e5;
  h5 { @extend %h5;}
  .wrap {
    height: 284px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    font-family: 'Noto Sans TC';
  };
  .title {
    width: 160px;
    margin: 60px;
    padding: 2px;
  };
  .information {
    width: 100px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .linkTo {
        margin: 4px;
        font-weight: 400;
        font-size: 16px;
        color: $gary;
      };
  };

  .fellow {
    width: 200px;
    margin: 50px;
    padding: 2px;
    p {
        margin: 4px;
        font-weight: 400;
        font-size: 16px;
        color: $gary;
      };
    .socialMidia { 
      i {
      margin: 15px;
      color: $gary;
      font-size: 24px;
      cursor: pointer;
    }}
  };

}
/********* 電腦版樣式 *********/
@media screen and (min-width: 375px) {
  
}