@use 'reset';
@use 'color';

%h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.App {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  width: 100%;
  background-color: var(--white);
  color: var(--text);
  user-select: none;
}

.container {
  margin: 0px 15px;
}

// main
.main-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 1fr 1fr 10%;
  grid-gap: 2%;
  grid-template-areas: 
  'title'
  'main'
  'cart'
  'btn'
  ;
  margin: 60px auto 0 auto;
  padding: 5% 10%;
  .main-title {
    grid-area: title;
    width: 100%;
  };
  .register-container {
    grid-area: main;
    width: 100%;
  }
}

// Header
header.header {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  background-color: var(--white);
  height: 60px;
  color: var(--text);
   .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--white);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform .2s ease-out;
    .nav-list {
      opacity: 0;
      width: 100%;

      .nav-item {
        cursor: pointer;
        padding: 2rem;
        line-height: 100%;
        margin: 0 auto;
        width: 90%;
        border-bottom: 1px solid var(--border);
        text-align: center;
        i {
          color: var(--text);
        }
      };
      .nav-icon {
        display: flex;
        .nav-item {
          margin: 0 2rem;
          border: none;
        }
      }
      #theme-toggle {
        input{
          display: none;
        }
      }
    };
    .nav-list :last-child{
      border: none;
    }
  };
  #navbar-toggle {
    visibility: hidden;
    position: absolute;
  }
  #navbar-toggle:checked ~.navbar {
    transform: scale(1, 1);
  }
  #navbar-toggle:checked ~ .navbar .nav-list {
    opacity: 1;
    transition: opacity .2s ease-out .15s;
  }
  .navbar-toggle-label {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 7.5%;
    display: flex;
    align-items: center;
    .hamburger, 
    .hamburger::before,
    .hamburger::after{
      
      height: 3px;
      background: var(--checkedRadioBackground);
    }
    .hamburger{
      position: relative;
      width: 15px;
    }
    .hamburger::before,
    .hamburger::after {
      position:absolute;
      left:0;
      content: "";
    }
    .hamburger::before{
      width: 10px;
      top: 7px;
    }
    .hamburger::after {
      width: 20px;
      bottom: 7px;
    }
  }
  .header-logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    height: 60px;
    width: 200px;
    transform: translate(-50%, 0);
    .header-logo-icon {
      background: var(--logo);
      background-size: 100% 100%;
      width: 80%;
      height: 100%;
    };
  };
};

// TODO 三種狀態管理未完成
// Wizard
.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .step-icon {
    display: inline-block;
    position:relative;
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
    border: 1px solid var(--border);
    border-radius: 50%;
    text-align: center;
    .text {
      position: absolute;
      top: -10%;
      left: 30%;
      color: var(--border);
      font-size: 1.2rem;
    };
    &[data-order=true]{
      background-color: #333333;
      border: none;
      .finished{
        color: #fff;
      }
    }
  };

  .step-label {
    display: none;
    color: #afb1bd;
    &[data-order="true"] {
      color: var(--text);
    };
  };
  .step-bar {
    display: inline-block;
    width: 60px;
    border-top: 2px solid var(--border);
    &[data-order="true"] {
      border-top-color: #333333;
    };
  };
};

// Step1
.step1-form-container {
  margin-top: 60px;
  min-height: 325px;
  .form-title {
    font-weight: 700;
    margin-bottom: 24px;
  };
  .form-row {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px;
    margin-bottom: 24px;
    .input-title {
      grid-column: 1 / 2;
    };
    .input-name {
      grid-column: 2 / 4;
    };
    .input-tel {
      grid-column: 1 / 3;
    };
    .input-mail {
      grid-column: 3 / 4;
    };
    .input-city {
      grid-column: 1 / 2;
    };
    .input-address {
      grid-column: 2 / 4;
    };
    .input-label {
      font-weight: 700;
      font-size: 0.5rem;
      color: var(--label);
    };
    .form-control,
    .form-select {
      height: 40px;
      border-color: var(--inputBorder);
      background-color: var(--white);
      font-weight: 400;
      color: #999999;
    };
  }
};

// Step2
.step2-form-container {
  margin-top: 60px;
  margin-bottom: 24px;
  min-height: 300px;
  .form-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
  };
  .form-body {
    display: flex;
    flex-direction: column;
    .radio-group {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      height: 60px;
      max-width: 435px;
      padding: 20px;
      cursor: pointer;
      // radio本人
      .form-check-input {
        margin-right: 20px;
        border-color: var(--checkedRadioBackground);
        background-color: var(--radioBackground);
        &:checked {
          background-color: var(--checkedRadioBackground);
        }
        &:checked~.radio-box-border {
          border-color: var(--checkedRadiosBoxBorder);
        };
      };
      // 專用外框
      .radio-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 435px;
        border: 1px solid var(--radiosBoxBorder);
        border-radius: 4px;
      };
      // 資訊文字
      .radio-info {
        width: 100%;
        .sending-type {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .sent-text {
            font-weight: 400;
            font-size: 14px;
            color: var(--text);
          };
          .postage {
            font-weight: 400;
            font-size: 0.8rem; 
            color: var(--period);
          }
        };
        .period {
          font-size: 0.8rem;
          color: var(--period);
        }
      };
    };
  };
};

// Step3
.step2-form-container {
  min-height: 300px;
  margin-top: 60px;
  margin-bottom: 24px;
  .form-body {
    display: flex;
    flex-direction: column;
    .form-row {
      margin-bottom: 24px;
      .input-label{
        font-weight: 700;
        font-size: 0.5rem;
        color: var(--label);
      }
      .group {
        margin: 5px;
        width: 70%;
      }
    };
    .group-input {
      display: flex;
      .group {
        width: 40%;
      }
    };
    .form-control {
      height: 40px;
      border-color: #4a4a4a;
      font-weight: 400;
      font-size: 12px;
      color: #999999;
      background-color: var(--white);
    }
  }
};


// ProgressControl
.button-group {
  grid-area: btn;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  button {
    all: unset;
    display: flex;
    .arrow-line {
      position: relative;
      border-top: 1px solid white;
      margin: 0 1rem;
      width: 20px;
      transform: translateY(100%);
    }
  }
  .next {
    width: 174px;
    height: 46px;
    background: #f67599;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    .arrow-line::after{
      position: absolute;
      content: '>';
      transform: translate(50%, -60%);
    }
  }
  .prev {
    width: 174px;
    height: 46px;
    color: block;
    display: flex;
    align-items: center;
    .arrow-line {
      border-color: var(--checkedRadiosBoxBorder);
    }
    .arrow-line::before {
      position: absolute;
      content: '<';
      transform: translate(-120%, -60%);
    }
  }
}
.first {
  .next{
    width: 100%;
  }
}


// Cart
.cart-container {
  grid-area: cart;
  height: 100%;
  width: 100%;
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--carBackground);
  .cart-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 34px;
    text-align: start;
  }

  .checkout {
    display: flex;
    justify-content: space-between;
    height: 24px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 34px;
    .product-price {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .product-item {
    display: flex;
    margin-bottom: 34px;
    justify-content: space-between;

    .img-container {
      width: 100px;
      height: 100px;
      margin: 0 15px;
      background-color: #e5e5e5;
      border-radius: 4px;
    };
    .product-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;

      .product-name {
        font-weight: 400;
        font-size: 16px;
      };

      .product-control-container {
        top: 50px;
        width: 100%;
        display: flex;
        align-items: center;

        .product-control {
          display: flex;
          align-items: center;
          margin-right: 30px;

          .product-count {
            display: inline-block;
            width: 53px;
            text-align: center;
          };

          .control-button {
            font-size: 1.2rem;
            padding: 0px;
            color: var(--controlButton);
            border-radius: 50%;
            border: 3px solid var(--controlButton);
            background-image: radial-gradient(var(--checkedRadioBackground) 30%, var(--controlButton) 60%);
          }
        }
      }
    };

    .product-price {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
    };
  };
}


// Footer
.footer {
  display: none;
  background: var(--footerBackground);
  h5 { @extend %h5;}
  .wrap {
    height: 284px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    font-family: 'Noto Sans TC';
  };
  .title {
    display: flex;
    align-items: center;
    min-width: 160px;
    margin: 5%;
    padding: 2px;
  };
  .information {
    width: 100px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .linkTo {
        margin: 4px;
        font-weight: 400;
        font-size: 16px;
        color: var(--gary);
      };
  };

  .fellow {
    width: 200px;
    margin: 50px;
    padding: 2px;
    p {
        margin: 4px;
        font-weight: 400;
        font-size: 16px;
        color: var(--gary);
      };
    .socialMidia { 
      i {
      margin: 15px;
      color: var(--gary);
      font-size: 24px;
      cursor: pointer;
    }}
  };

}

// TODO 正在檢查這區
/********* 電腦版樣式 *********/
@media screen and (min-width: 768px) {
  .main-container {
    grid-template-columns: 6fr  5fr;
    grid-template-rows: 10% 10% 1fr 10%;
    grid-gap: 5% 5%;
    grid-template-areas:
    "title title"
    "main cart"
    "main cart"
    "btn cart"
    ;
  }
  .step-container{
    .step-label{
      display: inline;
      font-size: 1rem;
    };
    .step-icon{
      height: 24px;
      width: 24px;
      .text{
        font-size: 1rem;
      }
    }
  }
  .first {
    .next {
      width: 174px;
    }
    justify-content: flex-end;
  }
  .footer{
    display: block;
  }

  // TODO bug 
  header.header {
    display: grid;
    grid-template-columns: 1fr minmax(85%, 3fr) 1fr;
    .navbar-toggle-label {
      display: none;
    }
    .navbar {
      all: unset;
      grid-column: 2/3;
      .nav-list {
        all: unset;
        position: relative;
        margin: 0;
        opacity: 1;
        height: 100%;
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        justify-content: start;
        grid-gap: 1.4rem;
        .nav-item {
          all: unset;
        }
        .item-icon {
          position: absolute;
          right: 0;
          letter-spacing: 2rem;
        }
      }
    }
  }

}


